{% extends 'components/base_layout.html.twig' %}

{% set views = {
    "normal": "Upcoming Active Reservations",
    "cancelled": "Cancelled Reservations",
    "past": "Past Reservations (12 Mos.)",
    'search': "Search Reservations"
} %}

{% block content %}
    {% include 'components/msg_get_display.html.twig' %}
    <script language="JavaScript" type="text/javascript">
        function checkMultiForm () {
            var alerts = "";
            with (document.multiForm) {

            }

            if (alerts) {
                alert(alerts);
                return false;
            }
        }

        function openSearch () {
            document.getElementById("searchRes").style.visibility = "visible";
        }

        function closeSearch () {
            document.getElementById("searchRes").style.visibility = "hidden";
        }
    </script>
    <span style="font-weight:bold;">Validations Available Starting :</span> August 26th 2024
    <br />

    <h2>Important Update:</h2>
    <p>
    Validations will now be non-expiring and will no longer expire by the end of the fiscal year in which they are purchased. 
    </p>
    <br />
    <p>
    <b>Gated Garages:</b>
    We&#39;re introducing a new system! Department accounts will be set up, allowing you to order validations for gated garages independently. To place your initial order, please follow the steps below:
    </p>
    <!--<img src="/parking/garage-reservation/ValidationTable.png"></img>-->
    <h2>Validation Types and Prices for Gated Garages</h2>
    <table>
        <thead>
            <tr>
                <th>Validation Type</th>
                <th>Quantitiy Per Order</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>$2 Validation </td>
                <td>1-50</td>
            </tr>
            <tr>
                <td>$8 Validation</td>
                <td>1-50</td>
            </tr>
            <tr>
                <td>$16 Validation</td>
                <td>1-50</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Garage Rates:</td>
                <td>Cherry Ave., Sixth St., Tyndall Ave., Main Gate, and Park Ave. Garages</td>
            </tr>
            <tr>
                <td>Daily Hourly Rate 5am-5pm</td>
                <td>$2/hr.</td>
            </tr>
            <tr>
                <td>Daily Max Rate 5am-5pm</td>
                <td>$8</td>
            </tr>
            <tr>
                <td>Evening Hourly Rate 5pm</td>
                <td>$1/hr.</td>
            </tr>
            <tr>
                <td>Max Rate</td>
                <td>$16</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Garage Rate</td>
                <td>Second St. Garage</td>
            </tr>
            <tr>
                <td>Hourly rate</td>
                <td>$2/hr.</td>
            </tr>
            <tr>
                <td>Max Rate </td>
                <td>$16</td>
            </tr>
        </tbody>
    </table>

    <h2>Instructions for Initial Orders (Gated Garages):</h2>
    <ol>
        <li>Complete and submit the  at <a href="https://app.smartsheet.com/b/form/dcbfafd0d70245a8b347aadff6bd9b4d">Dept Validation Purchase Form.</a> </li>
        <li><b>Wait for email notification:</b> We&#39;ll notify you via email when your validation order is ready for pickup from our office.</li>
        <li><b>Account setup:</b> We will create a Parking Account for your UA Department and send you an email with the login and password details. Once your account is set up, you can purchase future validations online. We&#39;ll email you again when your order is ready for pickup.</li>
    </ol>
    <p>
    <b>Note:</b>Validations do not guarantee a parking space in the garage. Parking is available on a first-come, first-served basis.
    </p>

    <b>Gateless Garages:</b>
    <p>
    For Health Sciences, Highland Ave., and South Stadium Garages, continue ordering your kiosk validations as usual. Click the link below to place your order:
    </p>
    <p><a href="/flowbird/">Order Kiosk Validations</a></p>
    <!--<span class="text-danger">
    <b>NEW:</b> South Stadium and Highland Avenue are now gateless garages that use a mobile app (Passport) for guest parking. Guests will have to download the app, and setup an account with their license plate and credit card information.  A zone # and validation code are required for your guest to input into the mobile app to pay for their parking. Their credit card will not be charged for the parking session.  
    </span><br><br>
    After you make your reservation, we will process your request and send you an email receipt confirmation
    with the zone #, code(s), and instructions for your guest. <a href="/pdf/sample-receipt.pdf" target="_blank">
    <img src="/images/icons/pdf.gif" width="16" height="16" border="0" align="absmiddle" alt="Viewing this link requires Adobe Acrobat Viewer."/>&nbsp;Sample receipt</a>.
    <br><br>
    If you do not receive an email or have further questions about this new process, please contact Visitor Programs at <strong>(520) 621-3710</strong>.   
    <br><br>

    You may reserve up to 25 spaces per garage per day.
    Reservations must be made at least one day in advance.
    <br><br>

    To arrange for large groups, same-day reservations, or more information, call <strong>(520) 621-3710</strong>.


    <br><br>-->


    <a href="create" class="btn btn-large btn-default">Make a New Reservation</a><br/>

	<p style="margin-top: 0; margin-bottom: 0;">&nbsp;</p>
{# <form action="index.php?view=search" method="post" name="schResForm" style="margin-top: 0" onSubmit="if (!this.searchString.value) return false;">
	<div style="white-space:nowrap; text-align:left; position:absolute; width:420px; top:250px; left:50%; margin-left:-350px; visibility:hidden; background-color:#F1F1F1; border:solid 2px #333333; font-size:12px;" id="searchRes">

	<div align="center" style="background-color:#CCCCCC; padding:6px; font-weight:bold;">Search &nbsp; Reservations</div>
	<div style="padding:6px;">

	<div style="float:left; width:130px; text-align:right;"><b>Search Type:</b></div>
	<div style="margin-left:130px; line-height:14px;">
	    <input type="radio" name="searchType" value="GUEST_NAME" {% if post.searchType == 'GUEST_NAME' %}checked{% endif %} /> Guest/Group Name
	<div style="margin-left:130px; line-height:14px;">
	<input type="radio" name="searchType" value="FRS_FK" {% if post.searchType == 'FRS_FK' %}checked{% endif %} /> KFS
	</div>
	{# <div style="margin-left:130px; line-height:14px;">
	<input type="radio" name="searchType" value="RES_DATE" onclick="if(document.schResForm.searchString.value==''){document.schResForm.searchString.value='<?php echo date('m/d/Y');?>';}" <?php if (@$_POST['searchType']=='RES_DATE') echo 'checked';?> /> Res. Date (mm/dd/yyyy)
	</div>


	<div style="padding-top:3px; padding-left:3px; padding-right:5px;"><b>Search Phrase or Date:&nbsp;</b>
	&nbsp;<input type="text" name="searchString" value="<?php echo @htmlspecialchars(stripslashes($_POST['searchString']));?>"/></div>

	<br />
	<div style="margin-left:1px; margin-left:75px; line-height:14px;">&nbsp;&nbsp;&nbsp; Dept. No. (optional):&nbsp;
	<input type="text" name="sh_DEPT_NO_FK" size="10" style="font-size:11px;"  value="<?php echo @htmlspecialchars(stripslashes($_POST['sh_DEPT_NO_FK']));?>"/></div>
	<div style="margin-left:1px; margin-left:75px; line-height:14px;">User Name (optional):&nbsp;&nbsp;
	<input type="text" name="sh_USER_NAME" size="10" style="font-size:11px;" value="<?php echo @htmlspecialchars(stripslashes($_POST['sh_USER_NAME']));?>"/></div> #}

	</div>
	<div style="padding:6px; text-align:center;">
	<br />
	<input type="submit" name="submit" value="Search &gt;&gt;" class="submitter"/>
	<div align="right" class="note"><a href="javascript:void(0);" onClick="closeSearch();">&lt; Close &gt;</a></div>
	</div>
	</div>
	</form>

    <p align="center">&nbsp;&nbsp;<span style="background-color:#CCCCCC; padding:6px;"><img src="/images/customer-view.gif" width="68" height="22" alt="Views" align="absmiddle"/></span><span style="background-color:#EEEEEE; padding:6px;"> &nbsp;
{% set ii = 0 %}
{% for v, vn in views %}
    &nbsp;&nbsp;
    {% if v == viewType %}
        <b>[ 
    {% endif %}
    {% if v == 'search' %}
        <a href="javascript:void(0);" onClick="openSearch();">{{ vn }}</a>
    {% else %}
        <a href="?view={{ v }}">{{ vn }}</a>
    {% endif %}
    {% if v == viewType %}
        ]</b>
    {% endif %}
    &nbsp;
    {% if ii == 1 %}
        </span><p align="center">&nbsp;&nbsp;<span style="background-color:#CCCCCC; padding:5px; border:solid 1px #ffffff;"><img src="/images/customer-view.gif" width="68" height="22" alt="Views" align="absmiddle"/></span><span style="background-color:#EEEEEE; padding:5px; border:solid 1px #ffffff;"> &nbsp;&nbsp;
    {% endif %}
    {% set ii = ii + 1 %}
{% endfor %}
</span></p>
	{% if reservations|length > 0 %}
    <br /><h4>{{ viewNames[viewType] }}</h4>
    <table class="table-striped" id="resTable" style="cursor:default; white-space:nowrap;">
        <tr>
            <th style="background:#CCCCCC; font-weight: bold;">Number</th>
            <th style="background:#CCCCCC; font-weight: bold;">Date</th>
            <th style="background:#CCCCCC; font-weight: bold;">Enter</th>
            <th style="background:#CCCCCC; font-weight: bold;">Exit</th>
            <th style="background:#CCCCCC; font-weight: bold;">Garage</th>
            <th style="background:#CCCCCC; font-weight: bold;">Spaces</th>
            <th style="background:#CCCCCC; font-weight: bold;">Reserved By</th>
            <th style="background:#CCCCCC; font-weight: bold;">Account</th>
        </tr>
        {% for transaction in reservations %}
            {% set rowClass = transaction.ACTIVE ? 'row1' : 'notActive' %}
            <tr valign="top" onclick="gores({{ transaction.RESERVATION_ID }});" class="{{ rowClass }}" onmouseover="this.className='row2';" onmouseout="this.className='{{ rowClass }}';">
                <td>{{ transaction.RESERVATION_ID }}</td>
                <td>{{ transaction.RESDATE }}</td>
                <td>{{ transaction.ENTERTIME }}</td>
                <td>{{ transaction.EXITTIME }}</td>
                <td>{{ transaction.GARAGE_NAME }}</td>
                <td align="center">{{ transaction.SPACES }}</td>
                <td>{{ transaction.USER_NAME }}</td>
                <td>{{ transaction.FRS_FK }}</td>
            </tr>
        {% endfor %}
    </table>
    {{ viewAllMsg }}
    <div style="text-align:right">
        <form name="multiForm" method="post" action="index.php" onsubmit="return checkMultiForm();">
            <p>
                <input type="button" class="btn btn-large btn-default" value="Make a New Reservation" onclick="window.location.href='create';"/>
            </p>
        </form>
    </div>

    <script type="text/javascript">
        function gores(id) {
            document.location.href='/view?id=' + id +
            '&searchType={{ post.searchType|url_encode }}&searchString={{ post.searchString|url_encode }}' + 
            '&sh_DEPT_NO_FK={{ post.sh_DEPT_NO_FK|url_encode }}&sh_USER_NAME={{ post.sh_USER_NAME|url_encode }}' + 
            '&view={{ get.view }}';
        }
    </script>
{% else %}
    <p align="center" class="warning">No Results</p>
{% endif %}

    <style>
		.rowActive {background-color:#ffffee;cursor:pointer;}
        .rowSelected {background-color:#AB0520;}
        #resTable,#resTable td {cursor:pointer;}
    </style>

    <script>
    $("#resTable").on("mouseenter","tr",function() {
                $(this).find('td').addClass( "rowActive" );
            }).on("mouseleave","tr",function() {
                $(this).find('td').removeClass( "rowActive" );
            }).on("click","tr",function() {
                $(this).find('td').addClass("rowSelected");
            });
    </script>

{% endblock %}