{% set res_id = get['id'] is defined and get['id'] matches '/^[a-zA-Z0-9]+$/' ? get['id'] : '' %}
{% set frsCheckSrc = "frscheck" %}
{% if reservation.FRS_FK is defined %}
    {% set frsCheckSrc = frsCheckSrc ~ "?frs=" ~ reservation.FRS_FK ~ "&cust=" ~ customer.userid %}
{% endif %}

{%  macro needHelp(term) %}
    <a href="javascript:needHelp('{{ term }}');"><img src="images/icons/help.gif" width="20" height="20" alt="Click for Help" align="absmiddle" border="0"/></a>
{% endmacro %}

{% macro writeCal(type) %}
    <a href="javascript:openCal('{{ type }}');"><img src="images/calendar.gif" border="0"/></a>
{% endmacro %}

{% block content %}

<!-- a pile of relevant includes -->
<script type="text/javascript" src="js/jquery_2_1_0.js"></script>
<script type="text/javascript" src="js/jquery-timepicker-master/jquery.timepicker.js"></script>
<link rel="stylesheet" type="text/css" href="js/jquery-timepicker-master/jquery.timepicker.css" />
<span id="biomed" style="padding:0; color:#C03; font-weight:normal; font-size:18px; background-color:white;"></span>
<script type="text/javascript" src="js/jquery-datepicker/js/jquery-ui-1.11.1.js"></script>
<script type="text/javascript" src="js/jquery-datepicker/jquery-ui.multidatespicker.js"></script>
<link rel="stylesheet" type="text/css" href="js/jquery-datepicker/css/mdp-new.css">
<script language="JavaScript" type="text/javascript" src="js/forms.js"></script>
<script language="JavaScript" type="text/javascript" src="js/base.js"></script>
<link rel="stylesheet" type="text/css" href="css/bitbucket.org_uadigital_ua-bootstrap_downloads_ua-bootstrap-1.0.0-alpha4.min.css" />
<link rel="stylesheet" type="text/css" href="css/pts-global.css" />
<script language="JavaScript" type="text/javascript">
function checkFormRes () {

	var dateRe = /[0-9]{2}\/[0-9]{2}\/20[0-9]{2}/;
	var timeRe = /[0-9]{1,2}\:[0-9]{2}\s[AM|am|PM|pm]{2}/;
	var numRe = /[0-9]+/;
	var dateReturn = "";
	var alerts = "";
	var daDates = new Array();
	var dates_str = $('#multiDateBox').multiDatesPicker('getDates');
	with (document.resForm) {

		if ((window.RegExp && !frsRe.test(frs.value))) {
			alerts += "Please enter a valid KFS number\n";
		} else if (!$('#frsCheckSpan').text().includes('KFS is valid')) {
			alerts += "You do not have access to this KFS number\n";
		}
		dates.value = document.resForm.dates.value = dates_str;
		if (!dates.value)
			alerts += "Please select at least one Reservation Date\n";



		// Trim spaces, and add, if nessassary
		//		var enterTimeStr = String(enterTime.value);
		//		enterTimeStr = enterTimeStr.replace(/\s+$/i, ""); // trim space
		//		enterTimeStr = enterTimeStr.replace(/^\s+/i, ""); // trim space
		//		enterTimeStr = enterTimeStr.replace(/(\d)([AP]M)$/i, "$1 $2"); // inset a space
		//		enterTime.value = enterTimeStr;
		//		var exitTimeStr = String(exitTime.value);
		//		exitTimeStr = exitTimeStr.replace(/\s+$/i, ""); // trim space
		//		exitTimeStr = exitTimeStr.replace(/^\s+/i, ""); // trim space
		//		exitTimeStr = exitTimeStr.replace(/(\d)([AP]M)$/i, "$1 $2"); // inset a space
		//		exitTimeStr = exitTimeStr.replace(/12:00 AM/i, "11:59 PM"); // inset a space
		//		exitTime.value = exitTimeStr;


		// Make sure start time is not before end time.
		var dtStart	= new Date("1/1/2007 " + enterTime.value);
		var dtEnd	= new Date("1/1/2007 " + exitTime.value);
		diff_in_millisec_a = dtEnd - dtStart;
		if (diff_in_millisec_a < 0)
			alerts += "End time is before Start time!\n";
		if (!enterTime.value || !exitTime.value)
			alerts += "Please enter 'Enter Time' and 'Exit Time'\n";

		// Ensure certain dates cannot be submitted for home games


		if (!garage.value)
			alerts += "Please select a garage\n";

		// guest list
		if (groupGuest[0].checked) {
			if (guestName.value)
				alerts += "Please click 'Add Guest' to add the guest name to your guest list, or please remove the guest name from the box\n";
			else if (!guestListBox.options.length || guestListBox.options[0].text=="Please Add Guests to Continue") {
				if (guestName.value)
					alerts += "Please click 'Add Guest' to add the guest to your guest list\n";
				else
					alerts += "Please enter at least one guest in the guest list\n";
			}
			else {
				for (var i=0; i<guestListBox.options.length; i++) {
					if (guestList.value)
						guestList.value += " | ";
					guestList.value += guestListBox.options[i].text;
				}
			}
			//if (!laddGuests.value || laddGuests.value==' ') alerts += "Please enter a number for Additional Guests\n";
			//else if ((window.RegExp && !numRe.test(laddGuests.value))) alerts += "Numbers only in the Additional Guests field\n";
		}
		// group
		else {
			if (!groupName.value)
				alerts += "Please enter the group name\n";
			if ((window.RegExp && !numRe.test(spaces.value)) || !spaces.value.length || spaces.value==' '){
				alerts += "Please enter a number of spaces\n";
			}else if (!spaces.value || spaces.value=="0" || spaces.value=="00"){
				alerts += "Number of spaces must be greater than 0\n";
			}
			//if (!gaddGuests.value) alerts += "Please enter a number for Additional Guests\n";
			//else if ((window.RegExp && !numRe.test(gaddGuests.value)) || gaddGuests.value==' ') alerts += "Numbers only in the Additional Guests field\n";
		}
	}

	if (alerts) {
		alert(alerts);
		return false;
	}
}
</script>

<h2>
{{ mode == 'create' ? 'Make a Reservation' : "Edit Reservation #{db_reservation.resid}" }}
</h2>
{% if error is defined and error %}
<div class="alert alert-danger" role="alert">
	{{ error }}
</div>
{% endif %}
<div class="resBox">
<form name="resForm" method="POST" action="?id={{ res_id }}" onSubmit="return checkFormRes();">
    <p class="title">General Info:</p>
	<table border="0" cellpadding="0" cellspacing="0" width="670">
        <tr valign="middle">
            <td class="req">Name:</td>
            <td colspan="3" style="">{{ reservation.USER_NAME is defined ? reservation.USER_NAME : customer.username }}</td>
        </tr>

        <tr valign="middle">
            <td class="req">{{ _self.needHelp('kfs') }} KFS Number:</td>
            <td class="field" colspan="3" width="380">
				<input type="text" name="frs" size="10" maxlength="7" onBlur="checkFrs(this.value,'{{ customer.userid }}');" value="{{ reservation.FRS_FK is defined ? reservation.FRS_FK : 0 }}"/>
				<span id="frsCheckSpan" style="display:{{ reservation.FRS_FK is defined ? 'none' : 'inline' }}"></span>
			</td>
        </tr>

        <tr valign="middle">
            <td class="noreq">KFS Sub Acct.: </td>
            <td colspan="3" class="field" style="white-space:nowrap;">
            <input type="text" name="KFS_SUB_ACCOUNT_FK" value="{{ reservation.KFS_SUB_ACCOUNT_FK is defined ? reservation.KFS_SUB_ACCOUNT_FK : '' }}" size="5" maxlength="5" />
            &nbsp;<strong>Sub Obj. Code:</strong>
            <input type="text" name="KFS_SUB_OBJECT_CODE_FK" value="{{ reservation.KFS_SUB_ACCOUNT_FK is defined ? reservation.KFS_SUB_ACCOUNT_FK : '' }}" size="3" maxlength="3" />
            </td>
	    </tr>

		<tr valign="middle">
			<td class="req">{{ _self.needHelp('resdate') }} Reservation Date(s):</td>
			<td colspan="3">
				<div id="multiDateBox" class="box"></div>
				<input type="hidden" name="dates" value="{{ redDates is defined ? redDates|join(',') : '' }}" />
				<script>
					let restrictedDates = {{ dateValidator.getRestrictedDates()|json_encode|raw }}

					function checkRestrictedDates(date) {
						var formattedDate = $.datepicker.formatDate('mm/dd/yy', date);
						if ($.inArray(formattedDate, restrictedDates) != -1) {
							return [false, "", "Unavailable for Home game days."]; // Disable the date and add a class/tooltip
						}
						return [true, "", ""]; // Keep the date enabled
					}


					$('#multiDateBox').multiDatesPicker({
						minDate: 1,
						beforeShowDay: checkRestrictedDates,
						{% if addDatesStr %}
							addDates: ['{{ addDatesStr|raw }}'],
						{% else %}
							addDates: [],
						{% endif %}
						{{ defaultDateStr ? "defaultDate: '" ~ defaultDateStr ~ "'," : '' }}
					});
				</script>
			</td>
		</tr>

            <tr valign="middle">
                <td class="req">{{ _self.needHelp('entertime') }} Enter Time:</td>
                <td class="field">
                    <input id="enterTime" name="enterTime" type="text" value="{{ reservation.RESSTART|default('') }}" maxlength="8" class="time" />
                    <script>
                        $(function() {
                            $('#enterTime').timepicker({
                                'timeFormat': 'h:i A',
                                'step': 15,
                                'minTime': '5:00am',
                                'maxTime': '11:30pm',
                                'scrollDefault': '{{ reservation.RESSTART|default('') }}',
                            });
                        });
                    </script>
                </td>

			<td class="req">{{ _self.needHelp('exittime') }} Exit Time:</td>
                <td class="field">
                    <input id="exitTime" name="exitTime" type="text" value="{{ reservation.RESEND|default('') }}" maxlength="8" class="time" />
                    <script>
                        $(function() {
                            $('#exitTime').timepicker({
                                'timeFormat': 'h:i A',
                                'step': 15,
                                'minTime': '5:15am',
                                'maxTime': '11:59pm',
                                'scrollDefault': '{{ reservation.RESEND|default('') }}',
                            });
                        });
                    </script>
                </td>
            </tr>

            <tr valign="middle">
                <td class="req">{{ _self.needHelp('garage') }} Garage:</td>
                <td class="field" colspan="3">
                    <select name="garage" id="garageSelectControl">
                        <option value="" selected>Select a Parking Area</option>
                        {{ garageOptions|raw }}
                    </select>
                </td>
            </tr>
        </table>

		<p class="title">Group/Guests:</p>
		<div style="font-size:14px;">
			<table border="0" cellpadding="0" cellspacing="0" bgcolor="#EEEEEE" style="border:solid 2px #003366;">
				<tr valign="middle">
					<td style="background-color:#003366; color:#FFFFFF; padding-right:5px;">
						<input type="radio" name="groupGuest" value="guest" 
							{% if glg == 'guest' %}checked{% endif %} 
							onClick="guestGroup('guest');" />
						<img src="images/icons/guest.gif" width="45" height="47" alt="Guest" align="absmiddle" />
						<b>Guest List</b>
					</td>
					<td style="padding:0 10px; font-size:11px;">
						<i>(Enter a list of people to allow in)</i>
					</td>
					<td style="background-color:#F1F1F1;">&nbsp;</td>
					<td style="color:#FFFFFF; background-color:#003366; padding-right:5px;">
						<input type="radio" name="groupGuest" value="group" 
							{% if glg == 'group' %}checked{% endif %} 
							onClick="guestGroup('group');" />
						<img src="images/icons/group.gif" width="45" height="47" alt="Group" align="absmiddle" />
						<b>Group</b>
					</td>
					<td style="padding:10px; font-size:11px;">
						<i>(I do not know the guests' names<br/>and/or would not like to enter them)</i>
					</td>
				</tr>
			</table>
		</div>

		<div id="group" style="display:{{ glg == 'group' ? 'block' : 'none' }}; clear:left;">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td colspan="6" class="title">Group</td>
				</tr>
				<tr valign="middle">
					<td class="req" colspan="2">{{ _self.needHelp('group') }} Group Name:</td>
					<td class="field" colspan="4">
						<input type="text" name="groupName" size="30" maxlength="30" 
							value="{{ groupName }}" 
							onkeyup="isAlphaNumeric('groupName');" />
					</td>
				</tr>
				<tr valign="middle">
					<td class="req" colspan="2">{{ _self.needHelp('spaces') }} Spaces:</td>
					<td class="field" colspan="2">
						<input type="text" name="spaces" size="3" maxlength="4" 
							value="{{ groupSize }}" 
							onkeyup="isNumeric('spaces');" />
					</td>
					<td colspan="2">&nbsp;</td>
				</tr>
			</table>
		</div>

		<div id="guest" style="display:{{ glg == 'guest' ? 'block' : 'none' }}; clear:left;">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr valign="middle">
					<td class="title" colspan="2">Add a Guest:</td>
					<td class="title" colspan="2">Guest List:</td>
				</tr>
				<tr valign="middle">
					<td class="req">{{ _self.needHelp('guestname') }} Guest Name:</td>
					<td class="field">
						<input type="text" name="guestName" maxlength="25" onkeyup="isAlphaNumeric('guestName');" />
					</td>
					<td class="req" rowspan="2">{{ _self.needHelp('guestlist') }} Guests:</td>
					<td class="field" align="center" rowspan="2">
						<select name="guestListBox" multiple>
							{% if guestList is not empty %}
								{% for guest in guestList %}
									<option value="{{ guest }}">{{ guest }}</option>
								{% endfor %}
							{% else %}
								<option value="">Please Add Guests to Continue</option>
							{% endif %}
						</select>
						<input type="hidden" name="guestList" value="" />
						<br />
						<input type="button" value="Remove Selected Guest" class="submitter" onClick="removeGuest(this.form);" />
					</td>
				</tr>
				<tr valign="middle">
					<td colspan="2" valign="top" align="center" style="padding: 0 0 28px 42px;">
						<input type="button" value="Add Guest" class="submitter" 
							onClick="if(checkGuest()){addGuest(this.form.guestName.value, this.form);}" />
					</td>
				</tr>
			</table>
		</div>

        <p align="center">
            <input type="image" src="images/reserve-button.gif" width="120" height="25" alt="Reserve" align="absmiddle" name="reserve"/>
        </p>
    </form>
</div>

{% endblock %}